<%= form_with(model: room, local: true) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Room Name:" %>
    <%= form.text_field :Name, id: :room_Name %>
  </div>

  <div class="field">
    <%= form.label :Capacity %>
    <%= form.text_field :Size, id: :room_Size %>
  </div>

  <div class="field">
    <%= form.label :boat_id %>
    <%= form.text_field :boat_id, id: :room_ContainingBoat %>
  </div>

  <div class="field">
    <%= form.label :Price %>
    <%= form.text_field :Price, id: :room_Price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
